
<div class="container">
  <div *ngIf="editingEntry" class="mb-3">
    <textarea [(ngModel)]="editText" class="form-control" style="margin-bottom: 10px;"></textarea>
    <button type="button" class="btn btn-success" (click)="updateEntry()">Speichern</button>
  </div>
  <div class="eintraegeContainer">
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 font-italic">Meine Einträge</h1>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length > 0; else noEntries">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="eintraege">
          <th mat-header-cell *matHeaderCellDef> Eintrag </th>
          <td mat-cell *matCellDef="let element"> {{element.eintraege}} </td>
        </ng-container>

        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef> Datum </th>
          <td mat-cell *matCellDef="let element"> {{element.datum | date:'mediumDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Bearbeiten </th>
          <td mat-cell *matCellDef="let element">
            <button type="button" class="btn btn-warning" (click)="startEdit(element)">Bearbeiten</button>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Löschen </th>
          <td mat-cell *matCellDef="let element">
            <button type="button" class="btn btn-primary" (click)="deleteEntry(element.id)">Löschen</button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <ng-template #noEntries>
        <div class="alert alert-info" role="alert">
          Noch keine Einträge vorhanden.
        </div>
      </ng-template>
    </div>
  </div>
</div>
</div>
<div class="abstand"></div>