

<div class="container profiel-container">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <h1 class="display-4">Profil</h1>
        <table class="table table-dark">
          <tbody>
            <tr>
              <th scope="row">Vorname</th>
              <td>{{profile.vorname}}</td>
            </tr>
            <tr>
              <th scope="row">Nachname</th>
              <td>{{profile.nachname}}</td>
            </tr>
            <tr>
              <th scope="row">E-mail</th>
              <td>{{profile.email}}</td>
            </tr>
          </tbody>
        </table>
            <button type="button" class="btn btn-primary" (click)="clearProfileData()">Bearbeiten</button>
    </div>
</div>




<div class="container" *ngIf="!profileLoaded">
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <h1>Profil</h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Vorname:</label>
                    <input type="text" class="form-control" [(ngModel)]="profile.vorname">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Nachname:</label>
                    <input type="text" class="form-control" [(ngModel)]="profile.nachname">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>E-mail:</label>
            <input type="text" class="form-control" [(ngModel)]="profile.email">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="saveProfile()">Speichern</button>
        </div>
    </div>
</div>

<div class="abstand"></div>